langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
python-dotenv
langchain-openai
sentence_transformers
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-openai
beautifulsoup4
docarray
streamlit
langchain_groq
fastapi
uvicorn
langserve
langchainhub
SQLAlchemy
mysql-connector-python
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
cassio
datasets
tiktoken
gradio